<section class="page-header">
  <h1 class="project-name" style="font-family:Josefin Sans;font-size: 4rem;font-weight: 200;">ELUCIDATA</h1>
  <h2 class="project-name" style="font-size:2.00rem" >{{ site.title }}</h2>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <div> 
    <a class="btn" style="margin-bottom:0" href="https://dl.dropboxusercontent.com/s/7grm84shl4ou2ry/ElMaven-0.1-windows-64Bit-installer.exe?dl=0">Windows 64 bit</a>
    <a href="#" class="btn" style="margin-bottom:0;">&nbsp;&nbsp;Ubuntu 64 bit&nbsp;&nbsp;</a>
    <a class="btn" style="margin-bottom:0;" href="https://dl.dropboxusercontent.com/s/8w8j5f88cn2ky6p/ElMaven-0.2-Beta-windows-64Bit-installer.exe?dl=0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Daily builds&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;</a>
  </div>
  <div>&nbsp;&nbsp;&nbsp;
    <a href="#" style="text-decoration: underline;">32 bit</a>
    <a style="pointer-events: none;cursor: default;">|</a>
    <a href="#" style="text-decoration: underline;">.zip</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#" style="text-decoration: underline;">32 bit</a>
    <a style="pointer-events: none;cursor: default;">|</a>
    <a href="#" style="text-decoration: underline;">.tar.gz</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#" style="text-decoration: underline;">win 64</a>
    <a style="pointer-events: none;cursor: default;">|</a>
    <a href="#" style="text-decoration: underline;">ubuntu 64</a>
  </div>
  </br>
  <a href="https://github.com/ElucidataInc/ElMaven" class="btn" style="margin-bottom:0">View on GitHub</a>
</section>